/* ===] Configurações Iniciais [=== */
/* -------------------------------- */

:root {
	--cor-conteudo: rgb(41, 41, 41);
	--cor-titulo: black;
}

body {
    margin: 0px;
    font: 16px "Lato", sans-serif;
    color: var(--cor-conteudo);
    height: 100%;
}

.conteudo {
    background-color: #fff;
    padding: 0.8rem 1.5rem 2rem 1.5rem;
    text-align: justify;
	font-size: 1.15rem;
	font-weight: 500;
    height: fit-content;

	-webkit-box-shadow: 1px 16px 40px 7px rgba(0,0,0,0.26); 
	box-shadow: 1px 16px 40px 7px rgba(0,0,0,0.26);
}

h3 {
    text-transform: uppercase;
    color: var(--cor-titulo);
    text-align: center;
	font-size: 2rem;
}

/* ===] Efeito Parallax [===*/
/* ------------------------ */ 

.caixa {
	height: 42pc;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
}

.caixa1 {
    background-image: url(../image/Imagem1.jpg);
}

.caixa2 {
    background-image: url(../image/Imagem2.jpg);
}

.caixa3 {
    background-image: url(../image/Imagem3.jpg);
}

.caixa4 {
    background-image: url(../image/Imagem4.jpg);
}